<mat-expansion-panel class="req-expansion-panel">
    <mat-expansion-panel-header>
        Requirement
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-list role="list">
            <mat-list-item role="listitem">1.Add a Input field which updates a property ('username') via
                Two-Way-Binding.
            </mat-list-item>
            <mat-list-item role="listitem">2.Output the username property via String Interpolation (in a paragraph
                below
                the input)</mat-list-item>
            <mat-list-item role="listitem">3.Add a button which may only be clicked if the username is NOT an empty
                string</mat-list-item>
            <mat-list-item role="listitem">4.Upon clicking the button, the username should be reset to an empty
                string
            </mat-list-item>
        </mat-list>
    </ng-template>
</mat-expansion-panel>