<mat-expansion-panel class="req-expansion-panel">
    <mat-expansion-panel-header>
        Requirement
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-list role="list">
            <mat-list-item role="listitem">Add a form with following input and validations:
            </mat-list-item>
            <mat-list-item role="listitem">1.Email Adress - should not be empty and should be an email adress
            </mat-list-item>
            <mat-list-item role="listitem">2.A dropdown which allows the user to select from different
                subscriptions(e.g: Basic, Advenced and Pro). Set "Advanced" as default</mat-list-item>
            <mat-list-item role="listitem">3.A password field - should not be empty
            </mat-list-item>
            <mat-list-item role="listitem">4.A subbmit button
            </mat-list-item>
            <mat-list-item role="listitem">Display a warning message if the form is invalid AND was touched.
            </mat-list-item>
            <mat-list-item role="listitem">Display a warning message bellow each input if is invalid.
            </mat-list-item>
            <mat-list-item role="listitem">Upon subbmiting the form you should simply print the value of the form to
                the console.

            </mat-list-item>
            <mat-list-item role="listitem">Optionally display it in your template</mat-list-item>
        </mat-list>
    </ng-template>
</mat-expansion-panel>