<mat-expansion-panel class="req-expansion-panel">
    <mat-expansion-panel-header>
        Requirement
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-list role="list">
            <mat-list-item role="listitem">Active and unactive users list with a button/link Set to active/inactive
            </mat-list-item>
            <mat-list-item role="listitem">This app is using events to set active and unactive')</mat-list-item>
            <mat-list-item role="listitem">1.Optimize this app by addding UserService which manages the active and
                inactive users</mat-list-item>
            <mat-list-item role="listitem">2.Also add a CounterService hich counts the number of active->inactive
                and inactive->active actions
            </mat-list-item>
        </mat-list>
    </ng-template>
</mat-expansion-panel>