<div class="div-container">
    <div class="mat-title section-title">
        <button mat-icon-button class="back-button" (click)="navigateBackToMain()">
            <mat-icon>navigate_before</mat-icon>
        </button>Section 13: Understanding Observables
    </div>
    <mat-tab-group>
        <mat-tab label="Practice">
            <mat-card class="mat-elevation-z4 practice-card">
            </mat-card>
        </mat-tab>
        <mat-tab label="Assignment">
            <div>No Assignment for this section</div>
        </mat-tab>
    </mat-tab-group>
</div>