<div class="div-container">
    <div class="mat-title section-title">
        <button mat-icon-button class="back-button" (click)="navigateBackToMain()">
            <mat-icon>navigate_before</mat-icon>
        </button>Section 13: Understanding Observables
    </div>
    <mat-tab-group>
        <mat-tab label="Practice">
            <mat-card class="mat-elevation-z4 practice-card">

                <nav mat-tab-nav-bar>
                    <a mat-tab-link routerLinkActive="active" routerLink="/observables" [routerLinkActiveOptions]="{exact:
                        true}">Home</a>

                    <a mat-tab-link routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                        true}" *ngFor="let user of users" [routerLink]="['user',user.id]">User {{user.id}}</a>
                </nav>
                <p *ngIf="userActivated">Activated!</p>
                <router-outlet></router-outlet>
            </mat-card>
        </mat-tab>
        <mat-tab label="Assignment">
            <div>No Assignment for this section</div>
        </mat-tab>
    </mat-tab-group>
</div>