<mat-expansion-panel class="req-expansion-panel">
    <mat-expansion-panel-header>
        Requirement
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-list role="list">
            <mat-list-item role="listitem">Create a form with following controls and validations:
            </mat-list-item>
            <mat-list-item role="listitem">1.Project Name - should not be empty
            </mat-list-item>
            <mat-list-item role="listitem">2.Email Address - should not be empty and should be an email address
            </mat-list-item>
            <mat-list-item role="listitem">3.Project Status dropdown with 3 values: 'Stable', 'Critical', 'Finished'
            </mat-list-item>
            <mat-list-item role="listitem">4.A subbmit button
            </mat-list-item>
            <mat-list-item role="listitem">Add your own validator which doesn't allow 'Test' as Project Name
            </mat-list-item>
            <mat-list-item role="listitem">Also implement this validator as an async validator and replace it
            </mat-list-item>
            <mat-list-item role="listitem">Upon subbmiting the form you should simply print the value of the form to
                the console.
            </mat-list-item>
        </mat-list>
    </ng-template>
</mat-expansion-panel>