<mat-card class="mat-elevation-z4 assignment-card">

    <div class="mat-subheading-2">
        <b> Assignment 4: Practicing Property & Event binding and View Encapsulation</b>
    </div>

    <app-property-event-binding-requirement></app-property-event-binding-requirement>
    <app-game-control (numberEmitted)="onNumberEmitted($event)"></app-game-control>
    <div *ngFor="let number of numbers">
        <app-even *ngIf="isEven(number)" [evenNumber]="number"></app-even>
        <app-odd *ngIf="!isEven(number)" [oddNumber]="number"></app-odd>
    </div>

</mat-card>