<mat-card class="practice-card">
    <!--<mat-form-field>
        <mat-label>Server name</mat-label>
        <input matInput type="text" (input)="onUpdateServerName($event)" />
    </mat-form-field>-->
    <mat-form-field>
        <mat-label>Server name</mat-label>
        <input matInput type="text" [(ngModel)]="serverName" />
    </mat-form-field>
    <button class="add-button" mat-raised-button color="primary" [disabled]="!allowNewServer"
        (click)="onCreateServer()">
        Add Server</button>
    <!-- <p [innerText]="serverName"></p>-->
    <!--<p>{{serverName}}</p>-->
    <!-- <p [innerText]="allowNewServer"></p>-->
    <!-- <p>{{allowNewServer}}</p>-->
    <!-- <p>{{ serverCreationStatus}}</p>-->
    <p *ngIf="serverCreated">Server was created! Server Name is {{serverName}}</p>
    <!-- <ng-template #noServer>
        No server was created!
    </ng-template> -->
    <app-server *ngFor="let server of servers"></app-server>

</mat-card>