<mat-expansion-panel class="req-expansion-panel">
    <mat-expansion-panel-header>
        Requirement
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
        <mat-list role="list">
            <mat-list-item role="listitem">
                For the practice for pipes create a reverse pipe which reverse the instanceType for example.
            </mat-list-item>
            <mat-list-item role="listitem">
                For the practice for pipes create a sort pipe which will sort the list of servers by name for example
            </mat-list-item>
        </mat-list>
    </ng-template>
</mat-expansion-panel>