.app-title {
    margin:20px
}

.title-label {
    text-align: center;
    color: blueviolet;
    font-weight: revert;
    font-size: xx-large;
}

.div-container{
    margin: 20px;
}

.show-hide-button{
    margin-right: 20px;
    margin-left: 20px;
}

.expansion-panel-main{
    margin-bottom: 20px;
    width: auto;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.side-menu{
    height: 100%;
}
.menu-icon{
    cursor: pointer;
    margin-right: 20px;
}