.app-title {
    margin:20px
}

.title-label {
    text-align: center;
    color: blueviolet;
    font-weight: revert;
    font-size: xx-large;
}

.div-container{
    margin: 20px;
}

.show-hide-button{
    margin-right: 20px;
    margin-left: 20px;
}