<div class="section-container">
    <app-section-header></app-section-header>
    <mat-tab-group>
        <mat-tab label="Practice Template Driven Forms">
            <mat-card class="mat-elevation-z4 practice-card">
                <app-forms></app-forms>
            </mat-card>
        </mat-tab>
        <mat-tab label="Practice Reactive Forms">
            <mat-card class="mat-elevation-z4 practice-card">
                <app-reactive-forms></app-reactive-forms>
            </mat-card>
        </mat-tab>
        <mat-tab label="Template Driven Forms Assignment">
           <app-parcticing-forms></app-parcticing-forms>
        </mat-tab>
        <mat-tab label="Reactive Forms Assignment">
            <app-practicing-reactive-forms></app-practicing-reactive-forms>
         </mat-tab>
    </mat-tab-group>
</div>