<!-- <div class="info">
  <h1 class="page-title">Angular - The ultimate guide</h1>
  <h3 class="mat-title">Each Section contains the pratice and its assignmnets if exists</h3>
</div> -->
<div class="content" fxLayout="row wrap">
  <div fxFlex="fit-content" *ngFor="let section of appSections">
    <mat-card class="mat-elevation-z4 section-card">
      <mat-card-header>
        <mat-card-title class="card-title">{{ section.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Section {{ section.id }} - {{ section.content }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          (click)="navigateTo(section.routePath)"
        >
          Go To Section
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
