<!-- <div class="info">
  <h1 class="page-title">Angular - The ultimate guide</h1>
  <h3 class="mat-title">Each Section contains the pratice and its assignmnets if exists</h3>
</div> -->
<div class="content" fxLayout="row wrap">

  <div fxFlex="fit-content">

    <mat-card class="mat-elevation-z4 section-card">
      <mat-card-header>
        <mat-card-title class="card-title">The Basics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Section 2 - The Basics</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="navigateTo('basics')">Go To Section</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="fit-content">
    <mat-card class="mat-elevation-z4 section-card">
      <mat-card-header>
        <mat-card-title  class="card-title">Components and databinding deep dive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Section 5 - Components and databinding deep dive</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="navigateTo('comp-datab-deep-dive')">Go To Section</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="fit-content">
    <mat-card class="mat-elevation-z4 section-card">
      <mat-card-header>
        <mat-card-title  class="card-title"> Directives Deep Dive</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Section 7 - Directives Deep Dive</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="navigateTo('directives-deep-dive')">Go To Section</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex="fit-content">
    <mat-card class="mat-elevation-z4 section-card">
      <mat-card-header>
        <mat-card-title  class="card-title"> Using Services and Dependency Injection</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Section 9 - Using Services and Dependency Injection</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="navigateTo('services-dependency-injection')">Go To
          Section</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>