<mat-card class="assignment-card">
    <div class="mat-title">
        Assignment 2: Practicing Data Binding
    </div>
    <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
            Requirement
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-list role="list">
                <mat-list-item role="listitem">1.Add a Input field which updates a property ('username') via
                    Two-Way-Binding.
                </mat-list-item>
                <mat-list-item role="listitem">2.Output the username property via String Interpolation (in a paragraph
                    below
                    the input)</mat-list-item>
                <mat-list-item role="listitem">3.Add a button which may only be clicked if the username is NOT an empty
                    string</mat-list-item>
                <mat-list-item role="listitem">4.Upon clicking the button, the username should be reset to an empty
                    string
                </mat-list-item>
            </mat-list>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
            Solution
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username" />
            </mat-form-field>
            <button class="clear-button" mat-raised-button color="primary" (click)="clearUsername()"
                [disabled]="isClearButtonDisabled()">Clear</button>
            <p>{{username}}</p>
        </ng-template>
    </mat-expansion-panel>
</mat-card>