.account-form {
    display: grid;
}
.radio-buttons {
    margin-bottom: 20px;
    margin-right: 10px;
}
.radio-button {
    margin-right: 10px;
}
.gender-select {
    display: grid;
}
.submit-button {
    width: fit-content;
    margin-right: 20px;
}
.buttons-div {
    display: flex;
}
.form-field{
    width: fit-content;
}
.gender-label{
    margin-bottom: 20px;
    margin-right: 10px;
}
.user-data-form-group{
    display: grid;
}
.suggest-button{
   width: fit-content;
   margin-bottom: 10px;
}