/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* snack bar success - used in success alert*/

.success-snackbar {
    background: green;
    color: ivory;
}

.warning-snackbar {
    background: peru;
    color: ivory;
}

.error-snackbar {
    background: red;
    color: ivory;
}
.section-container {
    margin: 20px;
}

.mat-card-header-text {
    margin: 0 auto !important;
}
.req-expansion-panel {
    margin-bottom: 20px !important;
}
.practice-card {
    margin: 20px;
    padding: 20px;
    background-color: floralwhite;
    width: fit-content;
}

.assignment-card {
    margin: 20px;
    padding: 20px;
    background-color: floralwhite;
    width: fit-content;
}
.assignment-solution {
    margin-left: 10px;
}
