<div class="section-container">
    <app-section-header></app-section-header>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Practice">
            <app-servers></app-servers>
        </mat-tab>
        <mat-tab label="Components Assignment">
            <app-practicing-components></app-practicing-components>
        </mat-tab>
        <mat-tab label="Databinding Assignment">
            <app-practicing-databinding></app-practicing-databinding>
        </mat-tab>
        <mat-tab label="Directives Assignment">
            <app-practicing-directives></app-practicing-directives>
        </mat-tab>
    </mat-tab-group>
</div>